classification/ILSVRC2012
classification/dataset_lion_tiger
classification/weights
image_to_gravity/weights
image_to_gravity/runs
backup_image_to_gravity/weights
backup_image_to_gravity/runs
velodyne_to_gravity/weights
velodyne_to_gravity/runs
single_image_to_graviy/weights
single_image_to_graviy/graph
single_image_to_graviy/save
single_image_to_graviy/logs
